@font-face {
    font-family: 'JMHTypewriter';
    src: url(' /fonts/JMH Typewriter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'JMHTypewriter';
    src: url(' /fonts/JMH Typewriter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'JMHTypewriter';
    src: url(' /fonts/JMH Typewriter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'JMHTypewriter';
    src: url(' /fonts/JMH Typewriter-Thin.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: sans-serif, 'JMHTypewriter', Arial;
    box-sizing: border-box;
  }

  .header {
    background-color: #03b9f6;
    padding: 20px 0;
    width: 100%;
  }
  
  .web-icon {
    border-radius: 20%;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
  }
  
  .logo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
  
  .brand-name {
    margin-left: 10px;
    font-size: 1.5em;
    font-family: 'JMHTypewriter';
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    font-family: 'JMHTypewriter';
    text-decoration: none;
    color: #333;
    font-size: 1em;
  }
  
  .nav-link:hover {
    color: #d5f500;
  }
  
  .nav-toggle {
    display: none;
    cursor: pointer;
  }
  
  .nav-icon {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
  }
  
  .show {
    display: flex;
    flex-direction: column;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  .book-list {
    width: 80%;
    margin: 0 auto;
  }
  
  .book-item {
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .book-img {
    width: 150px;
    height: auto;
    margin-right: 20px;
  }
  
  .book-details {
    flex: 1;
  }
  
  .book-details h2 {
    font-size: 20px;
    margin-top: 0;
  }
  
  .book-details p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .buy-links a {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #0073e6;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    font-size: 14px;
  }
  
  .buy-links a:hover {
    background-color: #005bb5;
  }
  